<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gankee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Share Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1569A1601E35BAED009F1E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1569A17C1E35BAEE009F1E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>156E7A8A1E3FBAA7005E469C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>156E7AA31E3FC192005E469C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
